**/bin
**/obj
**/out
**/publish
**/.vs
**/.vscode
**/.idea
**/node_modules
.git
.gitignore
.dockerignore
.editorconfig
Dockerfile
docker-compose*.yml
README.md
docs/
**/TestResults
**/*.user
**/*.suo
**/coverage*
